@font-face {
  font-family: 'WarnockPro BoldDisp';
  src: url('../_fonts/WarnockPro-BoldDisp.eot');
  src: url('../_fonts/WarnockPro-BoldDisp.eot?#iefix') format('embedded-opentype'),
  url('../_fonts/WarnockPro-BoldDisp.woff') format('woff'),
  url('../_fonts/WarnockPro-BoldDisp.ttf') format('truetype'),
  url('../_fonts/WarnockPro-BoldDisp.svg#webfontregular') format('svg');
  font-weight: normal;
  font-style: normal;
}