@mixin clearfix {
  &:before {
    content: " ";
    display: table;
  }
  &:after {
    content: " ";
    display: table;
    clear: both;
  }
}

%image_replace {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}